name: Utc App ci/cd

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

env:
    python_version: 3.11
    AWS_REGION: AWS_REGION_HERE
    AWS_ACCOUNT_ID: AWS_ACCOUNT_HERE
    ECR_REPO: ECR_REPO_NAME_HERE

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
           - uses: actions/checkout@v4
           - uses: actions/setup-python@v4
             with:
                python-version: $python_version
           - name: unit test 
             run: pytest 
           - name: Build image 
             run: docker build -t Chopper517/portcicd .


           - name: Configure AWS credentials
             uses: aws-actions/configure-aws-credentials@v4
             with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.AWS_REGION }}

           - name: Login to Amazon ECR
             uses: aws-actions/amazon-ecr-login@v2

           - name: Build Docker image
             run: |
                  docker build -t $ECR_REPO .
                  docker tag $ECR_REPO:latest $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO:latest

           - name: Push image to ECR
             run: |
                   docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPO:latest
           - name: Deploy to ECS
             uses: aws-actions/amazon-ecs-update-service@v1
             with:
                 cluster: ECS_CLUSTER_NAME_HERE
                 service: ECS_SERVICE_NAME_HERE
                 force-new-deployment: true