name: Utc App ci/cd

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

env:
    python_version: 3.11
          

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
           - uses: actions/checkout@v4
           - uses: actions/setup-python@v4
             with:
                python-version: $python_version
           - name: unit test 
             run: pytest 
           - name: Build image 
             run: docker build -t Chopper517/portcicd .
           - name: Configure AWS credentials
             uses: aws-actions/configure-aws-credentials@v4
             with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: us-east-1   # <-- Change to your region
           - name: Login to Amazon ECR
             id: login-ecr
             uses: aws-actions/amazon-ecr-login@v2

           - name: Push Docker image to ECR
             env:
                ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                ECR_REPO: my-repo         # <-- Change to your ECR repo
                IMAGE_TAG: portcicd          # Or use ${{ github.sha }}
             run: |
              docker tag my-image:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG
               docker push $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG


           
