name: test-repo

on: 
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]


env:
    AWS_REGION: us-east-1
    ECR_REPOSITORY: utc-app2
    ECS_CLUSTER: utc-cluster2
    ECS_SERVICE: utc-service2-service-7
    IMAGE_TAG: latest 


jobs:
    build:
        runs-on: ubuntu-latest 
        steps:
           - uses: actions/checkout@v4

    # python setup and test 
     
           - uses: actions/setup-python@v5
             with:
                python-version: 3.11

           - name: Install dependencies and run test 
             run: |
               pip install -r requirements.txt
               pip install pytest
               pytest || true 


    # Build image 
           - name: Build docker image 
             run: |
                docker build -t Chopper517/portcicd$IMAGE_TAG .

    # configure AWS credentials 
         
           - name: Configure AWS credentials 
             uses: aws-actions/configure-aws-credentials@v4
             with:
                aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
                aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
                aws-region: ${{env.AWS_REGION}}

    # Log into ECR
          
           - name: Login to Amazon ECR
             id: login-ecr
             uses:  aws-actions/amazon-ecr-login@v2

    # Push image to ECR

           - name: Push docker image to ECR 
             env:
              ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
             run: |
               docker tag Chopper517/portcicd:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
               docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG


                # Force ECS to pull the new :latest image
           - name: Force new ECS deployment
             run: |
               aws ecs update-service \
               --cluster $ECS_CLUSTER \
               --service $ECS_SERVICE \
               --force-new-deployment \
               --region $AWS_REGION
